@include media-breakpoint-up(sm) {
  :root { --slide-up-y: 10rem; }
}

@include media-breakpoint-down(sm) {
  :root { --slide-up-y: 12rem; }
}


@keyframes move-search-to-nav {
  0%   {margin-top: 20rem; margin-left: 10rem; width: 30%;}
  25%  {margin-top: 0rem; margin-left: 0rem; width: 30%;}
  50%  {margin-top: 0rem; margin-left: 0rem; width: 100%;}
  100% {margin-top: 0rem; margin-left: 0rem; width: 100%;}
}

.animate-width.nav-width {
  animation-name: move-search-to-nav;
  animation-duration: 3s;
}

@keyframes load-list-from-bottom {
  0%   {margin-top: 80vh;}
  100% {margin-top: var(--slide-up-y);}
}

.list-group {
  animation-name: load-list-from-bottom;
  animation-duration: 2s;
}