// Responsive values for animations
@include media-breakpoint-up(xl) {
  :root {
    --landing-top-margin: 35rem;
    --landing-left-margin: 10rem;
    --landing-width: 30%;
  }
}

@include media-breakpoint-down(xl) {
  :root {
    --landing-top-margin: 20rem;
    --landing-left-margin: 8rem;
    --landing-width: 30%;
  }
}

@include media-breakpoint-down(lg) {
  :root {
    --landing-top-margin: 15rem;
    --landing-left-margin: 4rem;
    --landing-width: 40%;
    --landing-duration: 2.5s;
  }
}

@include media-breakpoint-up(lg) {
  :root {
    --landing-duration: 2.5s;
  }
}

@include media-breakpoint-down(md) {
  :root {
    --landing-left-margin: $xs-spacing;
    --landing-width: 50%;
    --landing-duration: 1.5s;
  }
}

@include media-breakpoint-up(sm) {
  :root {
    --list-top-margin: 10rem;
  }
}

@include media-breakpoint-down(sm) {
  :root {
    --list-top-margin: 15rem;
    --landing-width: 80%;
  }
}

// Spin movie reels
@keyframes reels-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Searchbar to Nav Animation
@keyframes move-search-to-nav {
  0% {
    margin-top: var(--landing-top-margin);
    margin-left: var(--landing-left-margin);
    width: var(--landing-width);
  }
  25% {
    margin-top: 0rem;
    margin-left: 0rem;
    width: var(--landing-width);
  }
  50% {
    margin-top: 0rem;
    margin-left: 0rem;
    width: 100%;
  }
  100% {
    margin-top: 0rem;
    margin-left: 0rem;
    width: 100%;
  }
}

// List animation
@keyframes load-list-from-bottom {
  0%   { margin-top: 80vh; }
  100% { margin-top: var(--list-top-margin); }
}


@media (prefers-reduced-motion: no-preference) {
  // Reel spin animation
  .small-reel,
  .large-reel {
    animation: reels-spin infinite 20s linear;
  }

  // Searchbar to nav animation
  .animate-width.search-navigation {
    animation-name: move-search-to-nav;
    animation-duration: var(--landing-duration);
  }

  .list-group {
    animation-name: load-list-from-bottom;
    animation-duration: 2s;
  }

  // Modify default modal animation
  .modal.fade.show .modal-dialog { transition: transform 0.8s ease-out; }
  .modal.fade .modal-dialog { animation-direction: reverse; animation-duration: 3s; }
}
