*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --main-bg: #f6f6f6;
  --accent: #feb300;
  --accent-dark: #ff9000;
  --lines: #dedede;
  --lines-dark: #4b5c6e;
  --link: #9b1500;
  --white: #ffffff;
  --black: 0, 0, 0;
  --text-body: rgba(var(--black), 0.8);
  --modal-bg: var(--white);
}

html {
  font-size: 62.5%;
  background-color: var(--main-bg);
}

body {
  background-color: var(--main-bg);
  font-family: 'Nunito', 'Helvetica Neue', Arial, sans-serif;
  color: rgb(var(--black));
}

/* Typography */
h1,
h2,
.btn {
  font-weight: 600;
}

h3,
label {
  font-weight: 700;
}

p {
  font-weight: 400;
  color: var(--text-body);
}

h1 {
  font-size: 3.4rem;
  margin-bottom: 3rem;
}

h2 {
  font-size: 2.4rem;
  margin-bottom: 2.2rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

p,
h4,
.btn,
label,
.form-control {
  font-size: 1.8rem;
}

/* Placeholders */
%overlay {
  width: 0;
  height: 0;
  border-left: 5rem solid transparent;
  border-right: 5rem solid transparent;
  border-top: 5rem solid var(--white);
  position: absolute;
  bottom: -0.8rem;
  right: -3.3rem;
  transform: rotate(-45deg);
}

%white-filter {
  filter: brightness(0) saturate(100%) invert(98%) sepia(4%) saturate(138%) hue-rotate(215deg) brightness(117%)
    contrast(100%);
}

/* Buttons and Links*/
a {
  font-size: inherit;
  color: var(--link);
}

.btn.btn-primary {
  padding: 1.2rem 2.4rem;
  border-radius: 3rem;
  border: 0.1rem solid var(--accent);
  background-color: var(--accent);
  border-color: var(--accent);
  color: rgba(var(--black), 1);
  transition: background-color 0.3s, color 0.3s;

  &:hover,
  &:active {
    background-color: var(--link);
    border-color: var(--link);
    color: var(--white);

    .icon-search {
      @extend %white-filter;
    }
  }
  &:has(.icon-search) {
    padding: 0.8rem 1.6rem;
  }
}

.icon-search {
  height: 2.4rem;
  width: 2.4rem;
  display: inline-block;
  vertical-align: text-top;
  background: transparent url(../../public/icon-search.svg) no-repeat center;
}

/* Other */
hr {
  color: var(--lines);
}
