.modal-fullscreen .modal-content {
  border: 1.6rem solid var(--accent);

  .modal-header {
    border-bottom: none;
    z-index: 1;

    .btn-close {
      opacity: 1;
      opacity: 1;
      height: 2.4rem;
      width: 2.4rem;
      background: transparent var(--bs-btn-close-bg) center / 1.6rem auto no-repeat;
      margin: -1rem -1rem -1rem auto;
    }
  }

  &:after {
    content: '';
    @extend %overlay;
    border-top: 5rem solid var(--accent);
    position: absolute;
    top: -0.8rem;
    right: -3.3rem;
    transform: rotate(-135deg);
  }
}

.badge.text-bg-light {
  border: 0.1rem solid var(--accent);
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.01rem;
  padding: 0.7rem 1.2rem 0.6rem;
  margin-right: 0.4rem;
}
