.modal-fullscreen .modal-content {
  border: $border-accent;
  border-width: 1.6rem;

  .modal-header {
    border-bottom: none;
    z-index: 1;

    .btn-close {
      opacity: 1;
      opacity: 1;
      height: 2.4rem;
      width: 2.4rem;
      background: transparent var(--bs-btn-close-bg) center / $xs-spacing auto no-repeat;
      margin: -#{$base-spacing} -#{$base-spacing} -#{$base-spacing} auto;
    }
  }

  &:after {
    content: '';
    @extend %overlay;
    border-top: 5rem solid var(--accent);
    position: absolute;
    top: -$base-spacing;
    right: -3.3rem;
    transform: rotate(-135deg);
  }
}

.badge.text-bg-light {
  border: $border-accent;
  letter-spacing: 0.01rem;
  padding: 0.7rem 1.2rem 0.6rem;
  margin-right: 0.4rem;
}
