
/* Placeholder specific to this file only*/
%shape-base {
  height: 50%;
  background: var(--accent-dark);
  position: absolute;
  top: 0;
}

/* Layering Images on Landing */
.splash-image,
.list-group-item { z-index: 1; }
.landing-content { z-index: 3; }

/* Landing Page Styles */

// Check if user is on landing and apply accent background color
html:has(.landing-page),
body:has(.landing-page) { background-color: var(--accent); }

.landing-page {
  background-color: var(--accent);
  overflow: hidden;
  position: relative;
  height: 100%;

  // Shapes in the background
  .shape-left-top,
  .shape-left-bottom {
    @extend %shape-base;
    width: 40%;
    transform: skew(50deg);
    left: 20rem;
  }

  .shape-left-bottom {
    top: auto;
    bottom: 0;
    transform: skew(-50deg);
    background-image: linear-gradient(
      var(--accent-dark),
      var(--accent-dark),
      var(--accent)
    );
  }

  .shape-right-top,
  .shape-right-bottom {
    @extend %shape-base;
    width: 25%;
    transform: skew(30deg);
    right: -6rem;
  }

  .shape-right-bottom {
    top: auto;
    bottom: 0;
    transform: skew(-30deg);
    background-image: linear-gradient(
      var(--accent-dark),
      var(--accent-dark),
      var(--accent)
    );
  }

  // Additional white next to the light image for wider screens
  .light-extension {
    height: 100%;
    background: var(--white);
    position: absolute;
    top: 0;
    width: 0;
    left: 0;
    z-index: 1;
    @include media-breakpoint-up(xl) { width: 8%; }
    @include media-breakpoint-up(xxl) { width: 21.5%; }
    // covering really large screens
    @media (min-width: 1920px) { width: 35%; }
  }

  // Building the splash image from multiple svg parts for responsive and animation
  .splash-image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    right: 10rem;

    .large-reel {
      width: 17rem;
      position: absolute;
      top: 24.5rem;
      right: 12.3rem;
      z-index: 2;
    }

    .small-reel {
      width: 13rem;
      position: absolute;
      top: 32rem;
      right: -1.5rem;
      z-index: 2;
    }

    .camera {
      width: 46.8rem;
      position: absolute;
      top: 25.8rem;
      right: -3rem;
      z-index: 1;
    }

    .light {
      width: 101.5rem;
      position: absolute;
      top: 0;
      right: 40rem;
      z-index: 0;
    }

    .stand {
      width: 40.3rem;
      position: absolute;
      top: 53rem;
      right: 5rem;
      z-index: 0;
    }
  }

  // Content box with title and search
  .landing-content {
    margin-top: 35rem;
    margin-left: 10rem;
    width: 30%;
    position: relative;
  }
}

@include media-breakpoint-down(xl) {
  .landing-page .landing-content { margin-left: 8rem; }
}

@include media-breakpoint-down(lg) {
  .landing-page {
    .landing-content {
      margin-top: 15rem;
      margin-left: 4rem;
      width: 40%;
    }

    .splash-image {
      top: 10rem;
      right: -30rem;
      transform: rotate(41deg);

      .stand { display: none; }
    }

    .shape-left-top,
    .shape-right-top { display: none; }

    .shape-left-bottom,
    .shape-right-bottom {
      height: 100%;
      width: 45%;
    }
  }
}

@include media-breakpoint-down(md) {
  .landing-page {
    .landing-content {
      margin-top: $xs-spacing;
      margin-left: $xs-spacing;
      width: 50%;
    }

    .splash-image {
      top: 32rem;
      right: -50rem;
      transform: rotate(72deg);
    }
  }
}

@include media-breakpoint-down(sm) {
  .landing-page {
    .landing-content { width: 70%; }

    .splash-image {
      top: 38rem;
      transform: rotate(77deg);
    }
  }
}