/* List View Page Styles */
.list-navigation {
  .search-navigation {
    background-color: var(--white);
    box-shadow: 0 $base-spacing $base-spacing rgba(var(--black), 0.15);
    position: fixed;
    width: 100%;
    z-index: $zindex-fixed;
  }

  // Saves some js here to extend this based on the parent class
  .row        { @extend .justify-content-center; }
  // h1 becomes screenreader only text
  .page-title { @include visually-hidden; }
}

.list-group {
  box-shadow: 0 $base-spacing $base-spacing rgba(var(--black), 0.15);
  border-radius: $base-spacing;
  margin-top: 10rem;
  margin-bottom: 3.2rem;

  .list-group-item {
    border: 0.1rem solid transparent;
    border-bottom-color: var(--lines);
    cursor: pointer;
    padding: $xs-spacing;

    // Creates corner image on list
    .img-container {
      height: 70px;
      width: 70px;
      position: relative;
      overflow: hidden;
      margin: -1.7rem;

      .img-overlay { @extend %overlay; }
    }

    &:hover,
    &:focus {
      background-color: var(--main-bg);

      .img-overlay { border-top: 5rem solid var(--main-bg); }
    }

    &:focus-visible {
      outline-offset: 0.1rem;
      outline: 0.2rem dotted rgba(var(--black), 1);
    }

    &:first-child .img-fluid { border-top-left-radius: $base-spacing; }
  }

  @include media-breakpoint-down(sm) { margin-top: 15rem; }
}
