@import "./bootstrap-imports";
@import "./core";
@import "./landing";
@import "./list";
@import "./detail";
@import "./animation";

/* Sticky Footer */
html,
body,
#root      { height: 100%; }
#root      { display: flex; flex-direction: column; }
#root main { flex: 1 0 auto; }
footer     { flex-shrink: 0; }

/* Forms */
.form-control {
  border: 0.2rem solid var(--lines-dark);
  border-right: none;
  border-radius: 0.8rem;

  &input { background-color: var(--white); }
}

.input-group .btn {
  &.btn-primary {
    border: 0.2rem solid var(--lines-dark);
    border-left: none;
    border-radius: 0.8rem;
  }

  &.btn-link {
    border-top: 0.2rem solid var(--lines-dark);
    border-bottom: 0.2rem solid var(--lines-dark);
  }
}


.modal.fade.show .modal-dialog { transition: transform 0.8s ease-out; }
.modal.fade .modal-dialog { animation-direction: reverse; animation-duration: 3s; }
